---
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="centered">
  <img src="/assets/404.svg" alt="Not found">
</div>
<div class="centered">
  <p style="text-align: center">
    Du har funnet en falsk tone, her er det ingenting...
  </p>
  <p style="text-align: center">
    <a href="/">Rykk tilbake til start</a>
  </p>
</div>
