---
layout: base.njk
title: Om Bærum Salongorkester – Historie og besetning
description: Hva er salongorkestermusikk, hva spiller vi i Bærum Salongorkester og hva er historien og besetningen vår.
---
<div class="centered">
  <img class="main-image" src="/assets/sommerkonsert.jpg" alt="Sommerkonsert" />
</div>
<div class="centered">
  <h1>
    Bærum Salongorkester
  </h1>
  <p>
    <i>Salongorkester.</i> Det lyder gammelmodig og dekadent, men fenomenet
    har hatt musikkhistorisk betydning. Det du kanskje husker best av
    salongmusikalsk virksomhet i Norge, er sannsynligvis fra Theaterkafeen,
    Grand Hotel og Bristol i Oslo. I disse etablissementenes faste orkestre
    spilte mange av landets dyktigste musikere.
  </p>
  <h3>
    En tapt tradisjon
  </h3>
  <p>
    I Bærum Salongorkester sitter vi på et unikt arkiv med noter fra denne
    tiden og vår ambisjon &mdash; at dette skal fremføres og at Salongen
    gjenopplives &mdash; har sitt utspring i at dette fine arkivmateriale
    har kommet fra flere tradisjonsrike, men nedlagte salongorkestre. Vi
    ønsker å gjenskape et minne om de gamle sjangre. Besetningen i et
    salongorkester kunne før i tiden bestå av få musikere, men de trakterte
    gjerne flere instrumenter.
  </p>
  <p>
    Besetningen vår består av strykere, blåsere, perkusjon og
    klaver. Repertoaret vårt spenner fra ekte wienervalser til norske
    folkeviser, men fellesnevneren er taffelmusikk med god tilpasningsevne
    for både bryllup, mottakelser, julebord og konferanser. Vi er "det
    lille ekstra" som hever stemningen og varmer opp enhver forsamling.
  </p>
  <p>
    Vi ble stiftet i 2019 og består av en god blanding amatører og
    profesjonelle. Tor Erik Langset er kunstnerisk leder.
  </p>
</div>
