---
layout: base.njk
title: Kontakt Bærum Salongorkester – Booking og henvendelser
description: Ta kontakt hvis du ønsker at Bærum Salongorkester skal spille i et event eller om du har andre henvendelser.
---
<div class="centered">
  <img class="main-image" src="/assets/fiolin_noter.jpg" alt="Fiolin og noter" />
</div>
<div class="centered">
  <h1>
    Kontakt oss
  </h1>
  <p>
    Ta kontakt via skjemaet under om du lurer på noe, om du kunne tenke
    deg å spille med oss, for bookingforespørsler eller andre henvendelser.
  </p>
</div>
<div class="centered">
  <form action="https://usebasin.com/f/2dd71a32d113" method="POST">
    <fieldset>
      <label>
        Navn:
        <input type="text" name="navn" />
      </label>
    </fieldset>
    <fieldset>
      <label>
        E-post:
        <input type="email" name="epost" />
      </label>
    </fieldset>
    <fieldset>
      <label>
        Overskrift:
        <input type="text" name="emne" />
      </label>
    </fieldset>
    <fieldset>
      <label>
        Melding:
        <textarea name="melding" rows="6"></textarea>
      </label>
    </fieldset>
    <fieldset>
      <input class="btn-outline" type="submit" value="Send inn" />
    </fieldset>
  </form>
</div>
