---
layout: base.njk
bgclass: bg-2
title: Bærum Salongorkester – Salongmusikk til bryllup, mottakelser og event
description: Levende salongmusikk fra strykere, blåsere og klaver. Perfekt til bryllup, mottakelser, julebord og konferanser i Oslo/Bærum.
---
<main>
  <div class="centered">
    <img class="main-image" src="/assets/salong.png" alt="Salong" />
  </div>
</main>
