---
layout: base.njk
eleventyExcludeFromCollections: true
---
<div class="centered">
  <img src="/assets/thanks.svg" alt="Takk" />
</div>
<div class="centered">
  <h3>
    Takk for at du tok kontakt!
  </h3>
  <p style="text-align: center">
    Du hører fra oss så snart som mulig.
  </p>
  <p style="text-align: center">
    Hilsen Bærum Salongorkester
  </p>
</div>
