<footer>
  <div class="centered">
    <div class="footerbar">
      <p class="copyright">© <span id="y"></span> Bærum Salongorkester</p>
      <span class="social">
        <a class="social" href="https://www.instagram.com/baerumsalongorkester" target="_blank" rel="noopener" aria-label="Bærum Salongorkester på Instagram">
          <img src="/assets/instagram.webp" alt="">
        </a>
        <a class="social" href="https://www.facebook.com/baerumsalongorkester" target="_blank" rel="noopener" aria-label="Bærum Salongorkester på Facebook">
          <img src="/assets/facebook.svg" alt="">
        </a>
      </span>
    </div>
  </div>
</footer>
