<script type="application/ld+json">
 {
   "@context": "https://schema.org",
   "@type": "PerformingGroup",
   "name": "Bærum Salongorkester",
   "url": "https://salongorkester.no/",
   "areaServed": ["Oslo", "Bærum", "Akershus"],
   "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "Bookings",
     "email": "styret.salongorkesteret@gmail.com"
   }
 }
</script>
